
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #59CBE8;
    height: 300px;
    width: 500px;
    border-radius: 7px;
    background-color: transparent;
} */

.upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px dashed #59CBE8;
    height: 300px;
    width: 500px;
    border-radius: 7px;
    background-color: transparent;
}

.file {
    background-color: transparent;
}