.upload {
    height: 460px;
  }
  
.upload form {
    height: 300px;
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    outline-offset: -10px;
}

.upload h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.upload button {
    font-size: 13px;
    width: 60px;
    padding: 7px;
    border-radius: 9px;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    background-color: #b8ccfa;
}

.upload form input {
    height: 90px;
    padding-top: 70px;
    padding-left: 50px;
    text-align: center;
    background-color: none;
    outline: 2px dashed #b8ccfa;
    outline-offset: 5px;
    border-radius: 12px;
  }
.upload form button:hover {
    background-color: #7ea3f9;
}
.success {
    color: green;
    margin-top: 10px;
  }